### EDA Allergy Capstone

Sunday 4/3
Identify stakeholders
Why should a viewer care
Business problem
Set up Notion for project management

Stakeholders- FARE Food Allergy Research and Education

Business Problem- FARE wants to fund research inquiring why food allergies have increased significantly in grade school aged children. Predicting the increased occurrences of food allergies.
In order to do so they need to prove how much of an increase has occured in the past to be able to forecast what the the next generation is looking like for food.

Why care- It is highly likely that you know of a child with at least one food allergy. 
1 in 13 children now have one- around 2 per classroom. This means that even if your child isn't part of the 8% statistic, they are directly affected from their classmate.

Todo-
import csv
explore info/head/
remove nan/ duplicated values
run logistic regression
run heat map for multi collinearity

In [7]:
import pandas as pd
import numpy as np

In [9]:
df_analysis = pd.read_csv('food-allergy-analysis-Zenodo (1).csv')

In [11]:
df_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333200 entries, 0 to 333199
Data columns (total 50 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   SUBJECT_ID               333200 non-null  int64
 1   BIRTH_YEAR               333200 non-null  int64
 2   GENDER_FACTOR            333200 non-null  object
 3   RACE_FACTOR              333200 non-null  object
 4   ETHNICITY_FACTOR         333200 non-null  object
 5   PAYER_FACTOR             333200 non-null  object
 6   ATOPIC_MARCH_COHORT      333200 non-null  bool
 7   AGE_START_YEARS          333200 non-null  float64
 8   AGE_END_YEARS            333200 non-null  float64
 9   SHELLFISH_ALG_START      5246 non-null    float64
 10  SHELLFISH_ALG_END        1051 non-null    float64
 11  FISH_ALG_START           1796 non-null    float64
 12  FISH_ALG_END             527 non-null     float64
 13  MILK_ALG_START           7289 non-null    float64
 14  MILK_ALG_END             4580 non-null    float64
 15  SOY_ALG_START            2419 non-null    float64
 16  SOY_ALG_END              1431 non-null    float64
 17  EGG_ALG_START            6065 non-null    float64
 18  EGG_ALG_END              3293 non-null    float64
 19  WHEAT_ALG_START          1146 non-null    float64
 20  WHEAT_ALG_END            688 non-null     float64
 21  PEANUT_ALG_START         8653 non-null    float64
 22  PEANUT_ALG_END           2092 non-null    float64
 23  SESAME_ALG_START         766 non-null     float64
 24  SESAME_ALG_END           178 non-null     float64
 25  TREENUT_ALG_START        1 non-null       float64
 26  TREENUT_ALG_END          0 non-null       float64
 27  WALNUT_ALG_START         704 non-null     float64
 28  WALNUT_ALG_END           166 non-null     float64
 29  PECAN_ALG_START          285 non-null     float64
 30  PECAN_ALG_END            59 non-null      float64
 31  PISTACH_ALG_START        369 non-null     float64
 32  PISTACH_ALG_END          82 non-null      float64
 33  ALMOND_ALG_START         386 non-null     float64
 34  ALMOND_ALG_END           117 non-null     float64
 35  BRAZIL_ALG_START         68 non-null      float64
 36  BRAZIL_ALG_END           19 non-null      float64
 37  HAZELNUT_ALG_START       253 non-null     float64
 38  HAZELNUT_ALG_END         52 non-null      float64
 39  CASHEW_ALG_START         561 non-null     float64
 40  CASHEW_ALG_END           121 non-null     float64
 41  ATOPIC_DERM_START        49515 non-null   float64
 42  ATOPIC_DERM_END          41732 non-null   float64
 43  ALLERGIC_RHINITIS_START  55567 non-null   float64
 44  ALLERGIC_RHINITIS_END    25326 non-null   float64
 45  ASTHMA_START             63874 non-null   float64
 46  ASTHMA_END               25465 non-null   float64
 47  FIRST_ASTHMARX           117550 non-null  float64
 48  LAST_ASTHMARX            117550 non-null  float64
 49  NUM_ASTHMARX             117550 non-null  float64
dtypes: bool(1), float64(43), int64(2), object(4)
memory usage: 124.9+ MB